__pycache__
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*pywps.log
.vagrant
config.txt
config/*
!config/*encrypted.txt
!config/README.md
.vault_pass
data/*
static/endure/
static/krwnutrend
